body {
    font-family: 'Fjalla One', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: rgba(255, 0, 34, .9); */
}

.payment-container {
    text-align: center;
}

.payment-head {
    font-size: 2em;
}

.payment-form {
    border: 5px solid rgb(255, 0, 34);
    border-radius: 5%;;
    padding: 25px;
}

.payment-container fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    padding: 0;
}

.payment-form input {
    border: none;
    border-bottom: 1px solid #eee;
    width: 75%;
    height: 30px;
    outline: none;
}

.inline.middle {
    height: 40px;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
}

.form-group.month, .form-group.year, .form-group.cvc{
    width: 31%;
    float: left;
    margin-right: 2%;
}

.payment-terms {
    margin: 15px 0;
    font-size: 12px;
}

.payment-terms input {
    width: 1em;
    height: 1em;
}

.btn-subtmit {
    padding: 8px 8px;
    background: rgb(255, 0, 34);
    display: inline-block;
    color: white;
    border-radius: 5px;
    box-shadow: inset 0 -0.2em rgba(0, 0, 0, .2);
    border: none;
}

.payment-terms {
    width: max-content;
    margin: 1.5em auto;
}

.form-group.btn {
    width: min-content;
    margin: 0 auto;
}
