@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?pg3oiz');
  src:  url('../fonts/icomoon.eot?pg3oiz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?pg3oiz') format('truetype'),
    url('../fonts/icomoon.woff?pg3oiz') format('woff'),
    url('../fonts/icomoon.svg?pg3oiz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e945";
}
.icon-user:before {
  content: "\e971";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}

html {
  min-height: 100%;
  position: relative;
}

body {
    font-family: 'Fjalla One', sans-serif;
    margin: 0;
    margin-bottom: 52px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  /* font-style: italic; */
}

.header {
  position: fixed;
  height: 55px;
  width: 100%;
  z-index: 2;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
  background: white;
}

.header-wrapper {
  font-family: 'Lato', sans-serif;
  background-color: white;
  color: rgb(255, 0, 34);
  display: grid;
  grid-template-columns: 50% 50%;
  height: 55px;
  font-size: 13px;
}

.home {
  margin: 0;
  padding: 0;
  width: fit-content;
  height: inherit;
  margin-left: 10%;
  display: flex;
  align-items: center;
}

.logo img {
  margin: 0;
  padding: 0;
  width: auto;
  height: 80%;
}

.header-menu {
  display: grid;
  grid-template-columns: 80% 20%;
}

.header-elements {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button-login, .login-user-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* .user-name, .icon-user, .icon-switch {
  font-size: 1em;
} */

.user-name {
  margin: 0 1em 0 0;
  text-align: end;
}

.btn-login, .burger-button-wrapper, 
.btn-buy, .btn-reserve, .button-log-out {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.burger-button, .icon-switch, .icon-user {
  cursor: pointer;
  font-size: 1.5em;
}

/* .burger-button {
  margin-left: 1em;
} */

.icons {
  width: 2em;
  margin: 0 1em 0 0;
  color: inherit;
}

/* .burger-button:active {
  transform: scale(.9);
} */

.btn-login {
  padding: 8px 8px;
  background: rgb(255, 0, 34);
  display: inline-block;
  color: white;
  border-radius: 5px;
  box-shadow: inset 0 -.2em rgba(0, 0, 0, .2);
  margin-right: 1em;
}

.btn-login, .burger-button, .session-link, .package, 
.btn-form, .login-input-submit, .register-input-submit, 
.btn-buy, .btn-reserve, .button-log-out {
  transition: .2s;
  will-change: transform;
}

.btn-login:active, .burger-button:active, .session-link:active, 
.btn-form:active,.login-input-submit:active, .register-input-submit:active, 
.package:active, .social-link:active, .btn-buy:active, .btn-reserve:active, .button-log-out:active {
  transform: scale(.9);
}

ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.logo {
  margin: 0;
  /* padding: 0 20px ; */
  width: auto;
  height: inherit;
  /* text-align: center; */
}

.menu {
  position: fixed;
  z-index: 3;
  /* background: rgba(21, 68, 213); */
  background: rgba(255, 0, 34, .9);;
  top: 0;
  bottom: 0;
  left: 100vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
}

.menu.is-active {
  left: 0;
}

/* .login {
  width: 100%;
} */

.login, .restorePass{
  padding-top: 55px;
}

.register {
  padding-top: 55px;
}

.login-wrapper, .restorePass-wrapper {
  background: rgba(255, 255, 255, .96);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  height: 100%;
}

.restorePass-wrapper {
  background: #FFF;
}

.restorePass-wrapper::-webkit-scrollbar {
  display: none;
}

.login-wrapper::-webkit-scrollbar {
  display: none;
}

.register-wrapper {
  background: rgba(255, 255, 255, .96);
  display: flex;
  justify-content: center;
}

.menu-close-img  {
  position: absolute;
  top: 2%;
  right: 3%;
  width: 25px;
  height: 25px;
  background-size: 25px;
}

.login-content, .register-content, .restorePass-content {
  font-family: 'Source Sans Pro', sans-serif;
  margin: auto;
  max-width: 70%;
}

.login-welcome, .register-welcome, .restorePass-welcome {
  font-weight: lighter;
  text-align: center;
  margin: 20px;
}

.welcome {
  margin: 0 0 .5em;
  font-weight: bold;
  font-size: 1em;
}

.instruction {
  margin: 0 0 3em;
  font-size: .9em;
}

.restorePass-welcome .instruction {
  font-size: .8em;
}

*,::after,::before{box-sizing:border-box;}

.login-form, .register-form, .restorePass-form {
  display: flex;
  flex-direction: column;
}

.login-form a, .restorePass-form a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  font-weight: bold;
}

.register-form a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  font-weight: bold;
}

.wrapper-login-input, .wrapper-restorePass-input {
  margin-bottom: 2.3em;
  text-align: end;
}

.wrapper-register-input {
  margin-bottom: 1.6em;
  text-align: end;
}

.form-inputs {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #a7a89a;
  font-size: .8em;
  padding: .7em .4em .7em 0;
  outline: 0;
}

.forget-pass {
  font-size: .8em;
}

.login-input-submit, .register-input-submit, .restorePass-input-submit {
  display: block;
  padding: 8px 8px;
  background: rgb(255, 0, 34);
  color: white;
  border-radius: 10px;
  width: 70%;
  border: none;
  line-height: 30px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: inset 0 -0.3em rgba(0, 0, 0, .2);
  outline: 0;
}

.register-option, .access-option, .restorePass-option {
  text-align: center;
  font-size: .8em;
}

.menu a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  height: 40px;
}
  
.link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-link {
  margin: 1em 0;
}

/* -----------------------------------------User profile start------------------------------------------------ */
.user-profile {
  padding-top: 55px;
  font-family: 'Lato', 'Oxyge', sans-serif;
  text-align: center;
  display: grid;
  grid-template-rows: auto;
}

.user-profile p {
  margin: 0;
}

.available-classes, .data, .log-out-wrapper {
  margin: .8em auto;
}

.data {
  display: flex;
}

.labels {
  font-weight: bold;
}

.labels, .labels-info {
  text-align: left;
  font-size: .9em;
  margin: 0 1em;
}

.data-label {
  margin: .5em 0 !important;
}

.log-out-link, .plan-click, .schedule-click, .account-click {
  margin: 0 auto;
  color: #ff0022;
  font-weight: bolder;
  width: fit-content;
}

.plan-active, .profile-schedule, .profile-data {
  width: 100%;
  height: fit-content;
}

.plan-title, .schedule-title, .profile-title {
  padding: .5em 0;
  background: #c1c1c1;
  border-bottom: 1px solid white;
}

.plan-click, .schedule-click {
  cursor: pointer;
  width: min-content;
  margin: 0 auto !important;
}

.plan-info-wrapper {
  max-width: 80%;
  margin: 0 auto;
}

.plan-info {
  margin: 1em 0 !important;
}

.plan-info span {
  color: #ff0022;
  font-weight: bold;
}

.plan-info time {
  font-weight: bold;
}

.plan-buttons {
  margin-bottom: 1em;
}

.btn-buy, .btn-reserve, .button-log-out {
  padding: 8px 8px;
  background: rgb(255, 0, 34);
  display: inline-block;
  color: white;
  border-radius: 5px;
  box-shadow: outset 0 -.2em rgba(0, 0, 0, .2);
  cursor: pointer;
}

.schedule-classes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.next-classes-title, .finished-classes-title, .canceled-classes-title {
  width: 100%;
  padding: .4em 0;
  background: #f1f1f1;
  cursor: pointer;
}

.next-classes-title.is-active, .finished-classes-title.is-active, 
.canceled-classes-title.is-active {
  background: #ff0022;
  color: white;
}

.classes-tables {
  display: none;
}

.classes-tables.is-active {
  display: block;
}

.header-tables {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid #c1c1c1;
  padding: 0.5em 0;
  color: #ff0022;
  font-weight: bold;
}

.txt-next-classes, .txt-finished-classes, .txt-canceled-classes {
  margin: 1em 2em 2em !important;
}

.next-classes-header {
  grid-template-columns: repeat(4, 1fr);
}



/* -----------------------------------------User profile end------------------------------------------------ */

.hero {
  margin: 0;
  padding-top: 55px;
  background: white;
}

.hero-container {
  position: relative;
  text-align: center;
  text-align: center;
  display: flex;
  align-items: center;
}

.hero-title {
  position: absolute;
  margin: 0;
  margin-left: 10px;
  z-index: 1;
  color: rgba(0, 0, 0, .8);
}

.hero-image {
  width: 100%;
  opacity: 0.6;
}

h2 {
  color: #1544d5;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bolder;
  font-size: 1.2em;
  margin: 0;
  padding: 1.2em 0 .5em;
}

h3 {
  color: #1544d5;
  font-size: 1em;
}

.reserve {
  padding: 0 16px 1.5em 16px;
  background: #f1f1f1;
}

.calendar {
  font-size: .6em;
  display: grid;
  grid-template-rows: 30px 5fr;
  grid-row-gap: 2%;
  /* padding: 8px 16px; */
}

.calendar-header, .calendar-sessions {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  grid-gap: 4px;
  align-self: center;
} 

.days{
  /* border: solid 1px #fff; */
  color: #8a8a8a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date {
  color: rgb(255, 0, 34);
  font-weight: bolder;
  font-size: 1.2em;
}

.calendar-sessions {
  font-size: .6em;
}

.content-day {
  display: grid;
  grid-template-rows: repeat(5, 60px);
  grid-gap: 5px;
}

.content-day p {
  margin-top: 0;
}

.session-link {
  color: #130e0e;
  border: solid 1px #f4f4f4;
  background: #fff;
}

/* .session-link:hover {
  background: rgb(255, 0, 34);
  color: white;
} */

.session-coache {
  font-weight: bold;
}

.buySession {
  padding: 0 1em 1.5em;
}

.packages-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: .5em;
  grid-template-rows: repeat(3, 230px);
}

.package-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.package:nth-of-type(1){
  grid-column: 1 / span 6;
  grid-row: 1 / span 1;
}

.package:nth-of-type(2){
  grid-column: 7 / span 6;
  grid-row: 1 / span 1;
}

.package:nth-of-type(3){
  grid-column: 1 / span 6;
  grid-row: 2 / span 1;
}

.package:nth-of-type(4){
  grid-column: 7 / span 6;
  grid-row: 2 / span 1;
}

.package:nth-of-type(5){
  grid-column: 4 / span 6;
  grid-row: 3 / span 1;
}

.package {
  border: 1.5px solid #8a8a8a;
  font-family: 'Roboto Mono', sans-serif;
  /* text-align: center; */
  padding: 1em 0;
  cursor: pointer;
}

/* .package:hover {
  background: rgb(255, 0, 34);
  color: white;
  border: none;
  transform: scale(1.1);
} */

/* .package:hover .txt-class, .package:hover .txt-validity {
  color: white;
} */

.package-link {
  text-decoration: none;
  color: inherit;
}

.class-number {
  font-size: 4em;
  margin: 0;
  font-weight: 300;
  font-family: 'Lato', 'Oxyge', sans-serif;
}

.txt-cost {
  font-size: 1.5em;
  font-weight: bold;
  margin: .8em 0;
  font-family: 'Lato', 'Oxyge', sans-serif;  
}

.txt-class, .txt-validity {
  font-size: .8em;
  font-weight: 600;
  color: #8a8a8a;
  margin: 0;
}

.we-are {
  padding: 0 1em 1.5em;
  background: #f1f1f1;
}

.we-are p {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

.coaches {
  padding: 0 1em 1.5em;
}

.contact {
  height: auto;
  background: #f1f1f1;  
  color: #182825;
  padding: 10px;
  text-align: center;
}

/* .form-email {
  text-align: center;
} */

.form-email input {
  border-color: #8a8a8a;
  border-style: solid;
  background: transparent;
  border-radius: 5px;
  padding: .5em 1em;
  outline: 0;
  /* background-image: url('../images/envelope.svg'); */
  /* background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px; */
}

#email::placeholder {
  color: #8a8a8a;
}

.btn-form {
  display: block;
  cursor: pointer;
  background: rgb(255, 0, 34);
  color: white;
  padding: .6em 0;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 -.2em rgba(0, 0, 0, .2);
  width: 100px;
  /* margin-top: 10px; */
  margin: 1em auto;
  outline: 0;
}

.form-email h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: .7em;
  font-size: 1.2em;
}

.footer{
  color: white;
  background-color: rgba(255, 0, 34, .9);
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px;
  font-size: .8em;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.social {
  display: flex;
  justify-content: center;
  height: 30px;
}

.social-link {
  text-decoration: none;
  color: rgb(255, 0, 34);
  font-size: 1.5em;
  margin: 0 10px;
}

.footer p {
  margin: 0;
}

.link-hl, a {
  -webkit-tap-highlight-color: transparent;

}

/* -----------------------------Room map -----------------#8a8a8a-------------------------------- */
.room {
  background: #f1f1f1;
  padding: 0 1em 1.5em;
  padding-top: 55px;
}

.room-wrapper {
  padding-top: .5em;
}

.back-calendar {
  display: flex;
  justify-content: center;
}

.btn-back-calendar {
  padding: 8px 8px;
  background: rgb(255, 0, 34);
  display: inline-block;
  color: white;
  border-radius: 40px;
  width: 150px;
  line-height: 25px;
  text-align: center;
  /* box-shadow: 0 1px 1px 0 #800000; */
  font-family: 'Lato', sans-serif;
}

.title-choose-bicycle {
  font-family: 'Oxygen';
  font-weight: 600;
  color: #8a8a8a;
  margin: 10px 0;
}

.class-date {
  font-size: .8em;
  font-family: 'Source Sans Pro';
  margin: 5px 0;
}
.class-coach {
  font-family: 'Source Sans Pro';
  margin: 5px 0;
  margin-bottom: 10px;
}

.room-map {
  display: grid;
  grid-template-rows: 40px repeat(5, 30px);
  grid-gap: 5px;
  width: fit-content;
  margin: 0 auto;
}

.room-map a {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: #8a8a8a;
  color: #2c2c2c;
  font-family: 'Oxyge', sans-serif;
  font-size: .7em;
}

.room-map a:hover {
  background: rgba(255, 0, 34, .9);
  color: white;
}

.row1, .row3, .row4, .row5, .row6, .row7 {
  display: grid;
  grid-template-columns: repeat(6, 30px);
  grid-gap: 5px;
}
.row2 {
  display: grid;
  grid-template-columns: 1fr 40px 1fr;
}

.column1, .column2, .column3, .column4, .column5, .column6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column2 {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: rgb(255, 0, 34);
  color: white;
}

/* Mobile first */
  /* @media screen and (min-width: 320px) {} */

  @media screen and (min-width: 461px) {
    /* .burger-button {
      font-size: 1.2em;
    } */

    h2 {
      font-size: 1.5em;
    }
    
    /* .form-email h3 {
      font-size: 1.5em;
    } */

    .calendar {
      grid-template-rows: 55px 5fr;
      /* padding: 8px 16px; */
    }

    .calendar-header {
      font-size: 1.2em;
    }

    .calendar-sessions {
      grid-gap: 6px;
    }

    .content-day {
      display: grid;
      grid-template-rows: repeat(5, 75px);
      grid-gap: 6px;
    }

    .session-link {
      font-size: 1.5em;
    }
  }

  @media screen and (min-width: 601px) {

    body {
      margin-bottom: 36px;
    }

    .calendar-header {
      font-size: 1.3em;
    }

    .content-day {
      display: grid;
      grid-template-rows: repeat(5, 80px);
      grid-gap: 6px;
    }

    .session-link {
      font-size: 1.7em;
    }

    .back-calendar {
      justify-content: start;
    }

    .title-choose-bicycle, .info-room-class {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .class-date {
      font-size: 1em;
    }

    .class-coach {
      font-size: 1.2em;
    }

    .room-map {
      grid-template-rows: 50px repeat(5, 40px);
    grid-gap: 10px;
    }

    .row2 {
      grid-template-columns: 1fr 50px 1fr;
    }

    .row1, .row3, .row4, .row5, .row6, .row7 {
      grid-template-columns: repeat(6, 40px);
      grid-gap: 10px;
    }

    .packages-container {
      grid-template-rows: repeat(3, 255px);
    }

    .class-number {
      font-size: 5em;
    }

  }

  @media screen and (min-width: 768px) {

    body {
      margin-bottom: 38px;
    }

    .home {
      margin-left: 5%;
    }

    .header-menu {
      grid-template-columns: 90% 10%;
    }

    .burger-button, .icon-user, .icon-switch {
      font-size: 2em;
    }

    .burger-button-wrapper {
      justify-content: center;
    }

    .user-name {
      font-size: 1.2em;
      font-weight: bold;
    }

    .menu-link {
      margin: 1.5em 0;
    }

    .menu {
      top: 55px;
      width: 300px;
      align-items: flex-start;
      left: initial;
      right: -300px;
    }

    .menu.is-active {
      right: 0vw;
      left: initial;
    }

    .login-wrapper, .register-wrapper, .restorePass-wrapper {
      width: 440px;
      margin: 0 auto;
      font-size: 1.3em;
    }

    .login-close, .register-close, .restorePass-close {
      width: 425px;
      right: initial;
      display: flex;
      justify-content: flex-end;
    }

    .menu-close {
      position: absolute;
      right: -100vw;
    }

    .welcome {
      font-size: 1.2em;
    }

    /* ----------------------------------------user profile start --------------------------------------- */

    .user-profile {
      grid-template-columns: 1fr 2fr;

    }

    .profile-data, .plan-active {
      border-right: 1px solid #c1c1c1;
    }

    .plan-active {
      grid-row-start: 2;
    }

    .profile-schedule {
      width: 95%;
      margin: 0 auto;
    }

    .schedule-classes {
      flex-direction: initial;
    }

    .schedule-title{
      background: none;
    }
    
    .next-classes-title, .finished-classes-title, .canceled-classes-title {
      background: transparent;
      border-radius: 10px;
    }

    /* ----------------------------------------user profile end --------------------------------------- */


    .reserve, .buySession, .we-are, .coaches {
      padding-bottom: 3em;
    }

    .content-day {
      display: grid;
      grid-template-rows: repeat(5, 110px);
      grid-gap: 10px;
    }

    .session-link {
      font-size: 2.3em;
    }

    .calendar {
      grid-template-rows: 70px 5fr;
      /* padding: 8px 16px; */
    }

    .calendar-header {
      font-size: 1.5em;
    }
    
    .calendar-header, .calendar-sessions {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      text-align: center;
      grid-gap: 8px;
      align-self: center;
    }

    .class-date {
      font-size: 1.2em;
    }

    .class-coach {
      font-size: 1.5em;
    }

    .title-choose-bicycle {
      font-size: 1.2em;
    }

    .room-map {
      font-size: 1.3em;
      grid-template-rows: 70px repeat(5, 60px);
      grid-gap: 15px;
    }

    .row2 {
      grid-template-columns: 1fr 70px 1fr;
    }

    .row1, .row3, .row4, .row5, .row6, .row7 {
      grid-template-columns: repeat(6, 60px);
      grid-gap: 15px;
    }

    .packages-container {
      grid-template-rows: repeat(2, 275px);
      grid-column-gap: 2%;
      max-width: 768px;
      margin: 0 auto;
    }
    
    .package:nth-of-type(1){
      grid-column: 1 / span 4;
      grid-row: 1 / span 1;
    }
    
    .package:nth-of-type(2){
      grid-column: 5 / span 4;
      grid-row: 1 / span 1;
    }
    
    .package:nth-of-type(3){
      grid-column: 9 / span 4;
      grid-row: 1 / span 1;
    }
    
    .package:nth-of-type(4){
      grid-column: 3 / span 4;
      grid-row: 2 / span 1;
    }
    
    .package:nth-of-type(5){
      grid-column: 7 / span 4;
      grid-row: 2 / span 1;
    }

    .contact-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: initial;
    }

    .form-email h3 {
      font-size: 1.5em;
    }

    .form-email button {
      margin-left: 0;
    }

    .social {
      font-size: 2em;
      justify-content: space-between;
      height: 50px;
    }

    .footer {
      font-size: .9em;
    }
  }

  @media screen and (min-width: 1024px) {

    body {
      margin-bottom: 40px;
    }

    .header, .header-wrapper {
      height: 70px;
    }

    .btn-login, .btn-buy, .btn-reserve, .button-log-out {
      padding: 10px 18px;
      font-size: 1.2em;
    }

    .register-input-submit, .login-input-submit, .restorePass-input-submit {
      font-size: .8em;
    }

    .menu {
      top: 70px;
      width: 350px;
      right: -350px;
    }

    .menu a {
      font-size: 2.5em;
    }

    .menu-link {
      margin: 2em 0;
    }

    .login, .restorePass{
      padding-top: 70px;
    }

    .register {
      padding-top: 70px;
    }

    /* ----------------------------------------user profile start --------------------------------------- */

    .user-profile {
      padding-top: 70px;
    }

    .plan-active {
      border-right: 1px solid #c1c1c1;
      height: 100%;
      border-top: 1px solid #C1c1c1;
    }

    .plan-title, .schedule-title, .profile-title {
      background: none;
      font-size: 1.3em;
    }

    .data, .plan-info, .schedule-classes {
      font-size: 1.1em;
    }

    /* ----------------------------------------user profile end --------------------------------------- */

    .hero {
      padding-top: 70px;
    }

    h2 {
      font-size: 2em;
      max-width: 1024px;
      margin: 0 auto;
    }

    .calendar-header {
      font-size: 1.7em;
    }

    .calendar, .hero, .we-are p, .header-wrapper, .contact-wrapper, 
    .room-wrapper, .user-profile {
      max-width: 1024px;
      margin: 0 auto;
    }

    .session-link {
      font-size: 2.5em;
    }

    .session-link:hover {
      background: rgb(255, 0, 34);
      color: white;
    }

    .package:hover {
      background: rgb(255, 0, 34);
      color: white;
      border: none;
      transform: scale(1.1);
    }

    .package:hover .txt-class, .package:hover .txt-validity {
      color: white;
    }

    .packages-container {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 280px;
      grid-column-gap: 2%;
    }
    
    .package:nth-of-type(1){
      grid-column: 1 / span 1;
    }
    
    .package:nth-of-type(2){
      grid-column: 2 / span 1;
    }
    
    .package:nth-of-type(3){
      grid-column: 3 / span 1;
    }
    
    .package:nth-of-type(4){
      grid-column: 4 / span 1;
      grid-row: 1 / span 1;
    }
    
    .package:nth-of-type(5){
      grid-column: 5 / span 1;
      grid-row: 1 / span 1;
    }

    .footer {
      font-size: 1em;
    }
  }
