@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?pg3oiz');
  src:  url('../fonts/icomoon.eot?pg3oiz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?pg3oiz') format('truetype'),
    url('../fonts/icomoon.woff?pg3oiz') format('woff'),
    url('../fonts/icomoon.svg?pg3oiz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e945";
}
.icon-user:before {
  content: "\e971";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}

html {
  min-height: 100%;
  position: relative;
}

body {
    font-family: 'Fjalla One', sans-serif;
    margin: 0;
    margin-bottom: 52px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
}

.header {
  position: fixed;
  height: 55px;
  width: 100%;
  z-index: 2;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
  background: white;
}

.header-wrapper {
  font-family: 'Lato', sans-serif;
  background-color: white;
  color: rgb(255, 0, 34);
  display: grid;
  grid-template-columns: 50% 50%;
  height: 55px;
  font-size: 13px;
}

.home {
  margin: 0;
  padding: 0;
  width: fit-content;
  height: inherit;
  margin-left: 10%;
  display: flex;
  align-items: center;
}

.logo img {
  margin: 0;
  padding: 0;
  width: auto;
  height: 80%;
}

.header-menu {
  display: grid;
  grid-template-columns: 80% 20%;
}

.header-elements {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button-login, .login-user-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user-name {
  margin: 0 1em 0 0;
  text-align: end;
}

/* ---------------------------menu user start ------------------------------------ */

.menu-user-container {
  background: transparent;
  color: #273b47;
  right: 0;
  margin: 0;
  position: absolute;
  top: 45px;
  width: 100%;
  z-index: 5;
  display: none;
}

.menu-user-container.is-active {
  display: block;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 10px solid #ff0022;
  margin: 0 12.5% 0 auto;
}

.box {
  background: rgba(255, 0, 34, .9);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  border-radius: 5px;
  padding: 1em;
  }  

.box span {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin: 1em 0;
}

.box-opt {
  margin: 0 0 1em;
}

.box-opt a {
  font-size: 1.1em;
  color: inherit;
  font-weight: bold;
  text-decoration: underline;
  width: fit-content;
}

/* ---------------------------menu user end ------------------------------------ */

.btn-login, .burger-button-wrapper, 
.btn-buy, .btn-reserve, .button-log-out, .btn-subtmit {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.burger-button, .icon-switch, .icon-user {
  cursor: pointer;
  font-size: 1.5em;
}

.icons {
  width: 2em;
  margin: 0 1em 0 0;
  color: inherit;
}

.btn-login {
  padding: 8px 8px;
  background: rgb(255, 0, 34);
  display: inline-block;
  color: white;
  border-radius: 5px;
  box-shadow: inset 0 -.2em rgba(0, 0, 0, .2);
  margin-right: 1em;
}

.btn-login, .burger-button, .session-link, .package, 
.btn-form, .login-input-submit, .register-input-submit, 
.btn-buy, .btn-reserve, .button-log-out, .payment-btn-subtmit,
.room-map a, .btn-submit, .btn-red {
  transition: .2s;
  will-change: transform;
}

.btn-login:active, .burger-button:active, .session-link:active, 
.btn-form:active,.login-input-submit:active, .register-input-submit:active, 
.social-link:active, .btn-buy:active, .btn-reserve:active, 
.button-log-out:active, .payment-btn-subtmit:active, .btn-submit:active, 
.btn-red:active {
  transform: scale(.9);
}

ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.logo {
  margin: 0;
  width: auto;
  height: inherit;
}

.menu {
  position: fixed;
  z-index: 7;
  background: rgba(255, 0, 34, .9);;
  top: 0;
  bottom: 0;
  left: 100vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
}

.menu.is-active {
  left: 0;
}

.login, .restorePass, .register, .payment, .under-header {
  padding-top: 55px;
}

.login-wrapper, .restorePass-wrapper {
  background: rgba(255, 255, 255, .96);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.restorePass-wrapper {
  background: #FFF;
}

.restorePass-wrapper::-webkit-scrollbar {
  display: none;
}

.login-wrapper::-webkit-scrollbar {
  display: none;
}

.register-wrapper {
  background: rgba(255, 255, 255, .96);
  display: flex;
  justify-content: center;
}

.menu-close-img  {
  position: absolute;
  top: 2%;
  right: 3%;
  width: 25px;
  height: 25px;
  background-size: 25px;
}

.login-content, .register-content, .restorePass-content {
  font-family: 'Source Sans Pro', sans-serif;
  margin: auto;
  width: 70%;
}

.login-welcome, .register-welcome, .restorePass-welcome {
  font-weight: lighter;
  text-align: center;
  margin: 20px;
}

.welcome {
  margin: 0 0 .5em;
  font-weight: bold;
  font-size: 1em;
}

.instruction {
  margin: 0 0 3em;
  font-size: .9em;
}

.restorePass-welcome .instruction {
  font-size: .8em;
}

*,::after,::before{box-sizing:border-box;}

.login-form, .register-form, .restorePass-form {
  display: flex;
  flex-direction: column;
}

.login-form a, .restorePass-form a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  font-weight: bold;
}

.register-form a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  font-weight: bold;
}

.wrapper-login-input, .wrapper-restorePass-input {
  margin-bottom: 2em;
}

.wrapper-login-input:nth-of-type(2) {
  text-align: end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.wrapper-login-input:nth-of-type(2) span {
  align-self: baseline;
}

.wrapper-login-input:nth-of-type(3) {
  display: flex;
  justify-content: center;
}

.wrapper-register-input {
  margin-bottom: 1.6em;
}

.form-inputs {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #a7a89a;
  font-size: .8em;
  padding: .7em .4em .7em 0;
  outline: 0;
}

.error-form, .error-validation-form {
  font-size: .8em;
  color: #ff0022; 
}

.forget-pass {
  font-size: .8em;
}

.login-input-submit, .register-input-submit, 
.restorePass-input-submit, .payment-btn-subtmit, .btn-submit, .btn-red {
  display: block;
  padding: .5em;
  background: rgb(255, 0, 34);
  color: white;
  border-radius: 10px;
  min-width: 100px;
  border: none;
  line-height: 30px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: inset 0 -0.3em rgba(0, 0, 0, .2);
  outline: 0;
}

.register-option, .access-option, .restorePass-option {
  text-align: center;
  font-size: .8em;
}

.menu a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  height: 40px;
}
  
.link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-link {
  margin: 1em 0;
}

/* -----------------------------------------User profile start------------------------------------------------ */
.user-profile {
  padding-bottom: 1em;
}

.profile-wrapper {
  font-family: 'Lato', 'Oxyge', sans-serif;
  text-align: center;
  display: grid;
  grid-template-rows: auto;
}

.profile-wrapper p {
  margin: 0;
}

.available-classes, .data, .log-out-wrapper {
  margin: .8em auto;
}

.data {
  display: flex;
}

.labels {
  font-weight: bold;
}

.labels, .labels-info {
  text-align: left;
  font-size: .9em;
  margin: 0 1em;
}

.data-label {
  margin: .5em 0 !important;
}

.log-out-link, .plan-click, .schedule-click, .account-click {
  margin: 0 auto;
  color: #ff0022;
  font-weight: bolder;
  width: fit-content;
}

.plan-active, .profile-schedule, .profile-data {
  width: 100%;
  height: fit-content;
}

.plan-title, .schedule-title, .profile-title {
  padding: .5em 0;
  background: #c1c1c1;
  border-bottom: 1px solid white;
}

.plan-click, .schedule-click {
  cursor: pointer;
  width: min-content;
  margin: 0 auto !important;
}

.plan-info-wrapper {
  max-width: 80%;
  margin: 0 auto;
}

.plan-info {
  margin: 1em 0 !important;
}

.plan-info span {
  color: #ff0022;
  font-weight: bold;
}

.plan-info time {
  font-weight: bold;
}

.plan-buttons {
  margin-bottom: 1em;
}

.btn-buy, .btn-reserve, .button-log-out {
  padding: 8px 8px;
  background: rgb(255, 0, 34);
  display: inline-block;
  color: white;
  border-radius: 5px;
  box-shadow: outset 0 -.2em rgba(0, 0, 0, .2);
  cursor: pointer;
}

.schedule-classes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.next-classes-title, .finished-classes-title, .canceled-classes-title {
  width: 100%;
  padding: .4em 0;
  background: #f1f1f1;
  cursor: pointer;
}

.next-classes-title.is-active, .finished-classes-title.is-active, 
.canceled-classes-title.is-active {
  background: #ff0022;
  color: white;
}

.classes-tables {
  display: none;
}

.classes-tables.is-active {
  display: block;
}

.header-tables {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid #c1c1c1;
  padding: 0.5em 0;
  color: #ff0022;
  font-weight: bold;
}

.txt-next-classes, .txt-finished-classes, .txt-canceled-classes {
  margin: 1em 2em 2em !important;
}

.next-classes-header {
  grid-template-columns: repeat(4, 1fr);
}



/* -----------------------------------------User profile end------------------------------------------------ */

.hero {
  margin: 0;
  padding-top: 55px;
  background: white;
}

.hero-container {
  position: relative;
  text-align: center;
  text-align: center;
  display: flex;
  align-items: center;
}

.hero-title {
  position: absolute;
  margin: 0;
  margin-left: 10px;
  z-index: 1;
  color: rgba(0, 0, 0, .8);
}

.hero-image {
  width: 100%;
  opacity: 0.6;
}

h2 {
  color: #1544d5;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bolder;
  font-size: 1.2em;
  margin: 0;
  padding: 1.2em 0 .5em;
}

h3 {
  color: #1544d5;
  font-size: 1em;
}

.reserve {
  padding: 0 16px 1.5em 16px;
  background: #f1f1f1;
}

.calendar {
  font-size: .6em;
  display: grid;
  grid-template-rows: 30px 5fr;
}

.calendar-header, .calendar-sessions {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  grid-gap: 4px;
  align-self: center;
} 

.days{
  color: #8a8a8a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date {
  color: rgb(255, 0, 34);
  font-weight: bolder;
  font-size: 1.2em;
}

.calendar-sessions {
  font-size: .6em;
}

.content-day {
  display: grid;
  grid-template-rows: repeat(5, 60px);
  grid-gap: 5px;
}

.content-day p {
  margin-top: 0;
}

.session-link {
  color: #130e0e;
  border: solid 1px #f4f4f4;
  background: #fff;
}

.session-link.sold-out {
  opacity: 0.5;
  pointer-events: none;
}

.session-coache {
  font-weight: bold;
}

.buySession {
  padding: 0 1em 1.5em;
}

.packages-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 170px);
  grid-gap: 1.5em;
  justify-content: center;
}

.package {
  font-family: 'Roboto Mono', sans-serif;
  height: 260px;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
  border-radius: 3px;
}

.package-info-header {
  height: 60%;
  font-family: 'Lato', 'Oxyge', sans-serif;
  background: #e2e1e1;
  padding: .5em;
}

.package-info-content {
  height: 40%;
  padding: .5em;
}

.package-info-header, .package-info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.package-info-content a:nth-of-type(2) {
  display: none;
}

.package p {
  margin: 0 0 15px;
}

.package-info-name {
  font-size: 1.2em;
}

.package-info-name strong {
  color: #f02;
  font-size: 1.2em;
}

.package-info-description {
  color: #5d5d5d;

}

/* .package {
  grid-row: 1 / span 1;
} */

/* .package:nth-of-type(2){
  grid-column: 7 / span 6;
  grid-row: 1 / span 1;
}

.package:nth-of-type(3){
  grid-column: 1 / span 6;
  grid-row: 2 / span 1;
}

.package:nth-of-type(4){
  grid-column: 7 / span 6;
  grid-row: 2 / span 1;
}

.package:nth-of-type(5){
  grid-column: 1 / span 6;
  grid-row: 3 / span 1;
}

.package:nth-of-type(6){
  grid-column: 7 / span 6;
  grid-row: 3 / span 1;
}

.package:nth-of-type(7){
  grid-column: 1 / span 6;
  grid-row: 4 / span 1;
}

.package:nth-of-type(8){
  grid-column: 7 / span 6;
  grid-row: 4 / span 1;
}
.package:nth-of-type(9){
  grid-column: 1 / span 6;
  grid-row: 5 / span 1;
}
.package:nth-of-type(10){
  grid-column: 7 / span 6;
  grid-row: 5 / span 1;
} */


/* .package-link {
  text-decoration: none;
  color: inherit;
}

.class-number {
  font-size: 4em;
  margin: 0;
  font-weight: 300;
  font-family: 'Lato', 'Oxyge', sans-serif;
}

.txt-cost {
  font-size: 1.5em;
  font-weight: bold;
  margin: .8em 0;
  font-family: 'Lato', 'Oxyge', sans-serif;  
}

.txt-class, .txt-validity {
  font-size: .8em;
  font-weight: 600;
  color: #8a8a8a;
  margin: 0;
} */

.add-btn {
  margin: 1.5em 0 0;
  display: flex;
  justify-content: flex-end;
}

.add-btn a {
  width: fit-content;
  margin: 0;
}

.btn-red {
  font-size: .8em;
}

.we-are {
  padding: 0 1em 1.5em;
  background: #f1f1f1;
}

.we-are p {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

/* ---------------------------------- Coaches start -------------------------------- */

.coaches {
  padding: 0 1em 1.5em;
}

.coaches-list {
  width: 100%;
}

.coaches-item {
  text-align: center;
  margin: 1em 0 0;
}

.coaches-item img {
  width: 100%;
}

/* ---------------------------------- Coaches end -------------------------------- */

.contact {
  height: auto;
  background: #f1f1f1;  
  color: #182825;
  padding: 10px;
  text-align: center;
}

.form-email input {
  border-color: #8a8a8a;
  border-style: solid;
  background: transparent;
  border-radius: 5px;
  padding: .5em 1em;
  outline: 0;
}

#email::placeholder {
  color: #8a8a8a;
}

.btn-form {
  display: block;
  cursor: pointer;
  background: rgb(255, 0, 34);
  color: white;
  padding: .6em 0;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 -.2em rgba(0, 0, 0, .2);
  width: 100px;
  margin: 1em auto;
  outline: 0;
}

.form-email h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: .7em;
  font-size: 1.2em;
}

.footer{
  color: white;
  background-color: rgba(255, 0, 34, .9);
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px;
  font-size: .8em;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.social {
  display: flex;
  justify-content: center;
  height: 30px;
}

.social-link {
  text-decoration: none;
  color: rgb(255, 0, 34);
  font-size: 1.5em;
  margin: 0 10px;
}

.footer p {
  margin: 0;
}

.link-hl, a {
  -webkit-tap-highlight-color: transparent;

}

/* -----------------------------Room map start------------------------------------------------- */
.room {
  background: #f1f1f1;
  padding: 0 1em 1.5em;
  padding-top: 55px;
  position: relative;
}

.room-wrapper {
  padding-top: .5em;
}

.back-calendar {
  display: flex;
  justify-content: center;
}

.btn-back-calendar {
  padding: 8px 8px;
  background: rgb(255, 0, 34);
  display: inline-block;
  color: white;
  border-radius: 40px;
  line-height: 25px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.title-choose-bicycle {
  font-family: 'Oxygen';
  font-weight: 600;
  color: #8a8a8a;
  margin: 10px 0;
}

.class-date {
  font-size: .8em;
  font-family: 'Source Sans Pro';
  margin: 5px 0;
}
.class-coach {
  font-family: 'Source Sans Pro';
  margin: 5px 0;
  margin-bottom: 10px;
}

.room-map {
  display: grid;
  grid-template-rows: 50px repeat(5, 40px);
  grid-gap: 10px;
  width: fit-content;
  margin: 0 auto;
  justify-content: center;
}

.room-map a {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  font-family: 'Oxyge', sans-serif;
  font-size: .7em;
  color: black;
  background: white;
  border: 1px solid black;
}

.room-map a:active {
  background: #FF0022;
  color: white;
}
.room-place-link.is-reserve {
  pointer-events: none !important;
  color: #f02 !important;
  background: #f02 !important;
  border: none !important;
}

.row1 {
  display: grid;
  grid-template-columns: 1fr 50px 1fr;
}

.row2, .row3, .row5, .row6 {
  display: grid;
  grid-template-columns: repeat(6, 40px);
  grid-gap: 5px;
}

.row4 {
  display: grid;
  grid-template-columns: repeat(5, 40px);
  grid-gap: 5px;
  justify-content: center;
}

.row4 .column6 {
  display: none;
}

.row6 {
  display: none;
}

.column1, .column2, .column3, .column4, .column5, .column6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.columnC2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: #ff0022;
  color: white;
}

.overlay-bike {
  position: fixed;
  background: rgba(0, 0, 0, .6);
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 8;
  display: none;
}

.overlay-bike.is-active {
  display: block;
}

.overlay-bike.is-active {
  display: block;
}

.dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

.dialog-content {
  max-width: 450px;;
  border-radius: 5px;
  background: white;
  margin: 0 1.5em;
  padding: 1em;
}

.dialog-content p {
  margin: 0;
}

.dialog-content small {
  font-size: 70%;
}

.dialog-wrapper {
  margin: 0 0 1.5em;
}

.dialog-wrapper:nth-of-type(4) {
  margin-bottom: 1em;
}

.dialog-wrapper:nth-of-type(4) {
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.dialog-title {
  font-size: 1.5em;
}

.dialog-actions button {
  border: none;
  background: transparent;
  color: #f02;
  font-weight: bolder;
  font-size: 1em;
  margin: 0 1.25em;
  cursor: pointer;
  padding: .5em;
  outline: none;
}

.dialog-btn:hover {
  background: rgba(255, 0, 34, .25);
}

/* -----------------------------Room map end------------------------------------------------- */

/* -----------------------------Payment start------------------------------------------------- */

.payment, .add-package, .add-session, .admin-package {
  font-family: 'Source Sans Pro', sans-serif;
}

.payment-card {
  max-width: 90%;
  margin: 0 auto;
}

.order-title, .package-title  {
  font-size: 1.8em;
  margin: 0 0 .5em;
  color: initial;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bolder;
  letter-spacing: .03em;
}

.order-details {
  margin: 0 auto;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  padding: 1em;
}

.order-name, .order-amount {
  font-size: 1.2em;
  margin: 0 0 1em;
}

.order-amount {
  font-weight: bolder;
}

.order-expiration {
  color: #6d6a6a;
  text-transform: uppercase;
  font-size: 70%;
}

.payment-wrapper, .package-info-wrapper {
  padding: 1em 0 2em;
  max-width: 440px;
  margin: 0 auto;
}

.payment-wrapper:nth-of-type(2) {
  background: #f1f1f1;
}

.payment-head {
  margin: 0 0 1em;
  font-size: 1.2em;
  font-weight: bold;
}

.payment-form {
  padding: 0 1em;
}

.form-group {
  margin-bottom: 1.5em;
}

.payment-terms, .form-check {
  display: flex;
  align-items: center;
  line-height: 1px;
}

.card-expiration-date {
  display: grid;
  grid-template-columns: repeat(2, 47%);
  grid-column-gap: 6%;
}

.accept-total-txt {
  text-transform: uppercase;
  font-weight: bold;
  color: #6d6a6a;
}

.accept-total-ampount {
  font-size: 1.5em;
  font-weight: bolder;
  margin: 0 0 .8em;
}

.accept-terms {
  margin-bottom: 1em;
}

.accept-terms-link {
  color: initial;
}

.accept-button {
  margin: 0 auto;
}

/* -----------------------------Payment end------------------------------------------------- */

/* -----------------------------Admin profile end------------------------------------------------- */

.add-package, .add-session {
  max-width: 440px;
  margin: 0 auto;
}

.add-container {
  padding: 1em;
}

.add-title {
  margin-top: 0;
  font-size: 1.5em;
  color: initial;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bolder;
  letter-spacing: .03em;
}

.add-form {
  padding: 0 1em;
}

.wrapper-add-input {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: end;
  margin: 0 0 1em;
}

.wrapper-add-input label {
  padding: 0 1em 0 0;
  font-size: .9em;
  font-weight: bold;
}

.wrapper-add-input:nth-of-type(5) {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.select-coach {
  background: transparent;
  border: none;
  border-bottom: 1px solid #a7a89a;
  padding: .5em 0; 
  outline: none;
  color: #6d6a6a;
}

#session-date, #session-time {
  color: #6d6a6a;
  font-size: .8em;
}

.add-session .wrapper-add-input:nth-of-type(4) {
  grid-template-columns: 40% 50% 10%;
}

.duration-span {
  text-align: end;
  font-size: .8em;
}

/* -----------------------------Admin profile end------------------------------------------------- */

/* -----------------------------Admin package start------------------------------------------------- */

.admin-package-info, .package-details {
  padding: 0 1em;
}

.package-form label {
  font-weight: bold;
  color: #f02;
}

.package-form p {
  margin: .5em 0 0;
  font-weight: bold;
}

.package-form div {
  margin: 0 0 1.5em;
}

.package-form input, .package-save, .package-cancel {
  display: none;
}

.package-buttons {
  display: flex;
}



/* -----------------------------Admin package end------------------------------------------------- */




/* Mobile first */

  @media screen and (min-width: 461px) {

    h2 {
      font-size: 1.5em;
    }

    .calendar {
      grid-template-rows: 55px 5fr;
    }

    .calendar-header {
      font-size: 1.2em;
    }

    .calendar-sessions {
      grid-gap: 6px;
    }

    .coaches-list {
      display: grid;
      grid-template-columns: repeat(2, 50%);
    }

    .coaches-item {
      margin: 0 .5em .5em;
    }

    .content-day {
      display: grid;
      grid-template-rows: repeat(5, 75px);
      grid-gap: 6px;
    }

    .session-link {
      font-size: 1.5em;
    }
  }

@media screen and (min-width: 601px) {

  body {
   margin-bottom: 36px;
  }

  .calendar-header {
    font-size: 1.3em;
  }

  .content-day {
    display: grid;
    grid-template-rows: repeat(5, 80px);
    grid-gap: 6px;
  }

  .session-link {
    font-size: 1.7em;
  }

    
  .back-calendar { /* -----------Room map start---------------------------------- */
    justify-content: start;
  }

  .title-choose-bicycle, .info-room-class {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .class-date {
    font-size: 1em;
  }

  .class-coach {
    font-size: 1.2em;
  } /*-------------------Room map end------------------------ */


}

@media screen and (min-width: 768px) {

  body {
    margin-bottom: 38px;
  }

  .home {
    margin-left: 5%;
  }

  .header-menu {
    grid-template-columns: 90% 10%;
  }

  .burger-button, .icon-user, .icon-switch {
    font-size: 2em;
  }

  .burger-button-wrapper {
    justify-content: center;
  }

  .user-name {
    font-size: 1.2em;
    font-weight: bold;
  }

  .menu-link {
    margin: 1.5em 0;
  }

  .menu {
    top: 55px;
    width: 300px;
    align-items: flex-start;
    left: initial;
    right: -300px;
  }

  .menu.is-active {
    right: 0vw;
    left: initial;
  }

  .login-wrapper, .register-wrapper, 
  .restorePass-wrapper {
    width: 440px;
    margin: 0 auto;
    font-size: 1.2em;
  }

  .login-close, .register-close, .restorePass-close {
    width: 425px;
    right: initial;
    display: flex;
    justify-content: flex-end;
  }

  .menu-close {
    position: absolute;
    right: -100vw;
  }

  .welcome {
    font-size: 1.2em;
  }

/* ---------------------------menu user start ------------------------------------ */

  .menu-user-container {
    right: initial;
    width: 250px;
    top: 40px;
  }


  .triangle {
    margin-right: 5.5%;
  }

  .box {
    height: fit-content;
    background: #ff0022;
  }

  .username span {
    font-size: 1.4em;
  }

  .box-opt a {
    font-size: 1.3em;
  }

/* ---------------------------menu user end ------------------------------------ */

  .coaches-list {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3%;
  }

  .coaches-item {
    margin: 0;
  }

/* ----------------------------------------user profile start --------------------------------------- */

  .profile-wrapper {
    grid-template-columns: 1fr 2fr;

  }

  .profile-data, .plan-active {
    border-right: 1px solid #c1c1c1;
  }

  .plan-active {
    grid-row-start: 2;
  }

  .profile-schedule {
    width: 95%;
    margin: 0 auto;
  }

  .schedule-classes {
    flex-direction: initial;
  }

  .schedule-title{
    background: none;
  }
  
  .next-classes-title, .finished-classes-title, .canceled-classes-title {
    background: transparent;
    border-radius: 10px;
  }

    /* ----------------------------------------user profile end --------------------------------------- */


  .reserve, .buySession, .we-are, .coaches {
    padding-bottom: 3em;
  }

  .content-day {
    display: grid;
    grid-template-rows: repeat(5, 110px);
    grid-gap: 10px;
  }

  .session-link {
    font-size: 2.3em;
  }

  .calendar {
    grid-template-rows: 70px 5fr;
  }

  .calendar-header {
    font-size: 1.5em;
  }
  
  .calendar-header, .calendar-sessions {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    grid-gap: 8px;
    align-self: center;
  }

/* -----------------------------Room map start------------------------------------------------- */

  .class-date {
    font-size: 1.2em;
  }

  .class-coach {
    font-size: 1.5em;
  }

  .title-choose-bicycle {
    font-size: 1.2em;
  }

  .room-map {
    font-size: 1.3em;
    grid-template-rows: 60px repeat(5, 50px);
  }

  .row1 {
    grid-template-columns: 1fr 60px 1fr;
  }

  .row2, .row3, .row5, .row6, .row {
    grid-template-columns: repeat(6, 50px);
    grid-gap: 10px;
  }
  
  .row4 {
    grid-template-columns: repeat(5, 50px);
    grid-gap: 10px;
    justify-content: center;
  }
/* -----------------------------Room map end------------------------------------------------- */

  .packages-container {
    grid-template-columns: repeat(auto-fill, 200px);
  }

  .package-info-header, .package-info-cost {
    font-size: 1.1em;
  }

  .package {
    height: 270px;
  }

  .contact-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: initial;
  }

  .form-email h3 {
    font-size: 1.5em;
  }

  .form-email button {
    margin-left: 0;
  }

  .social {
    font-size: 2em;
    justify-content: space-between;
    height: 50px;
  }

  .footer {
    font-size: .9em;
  }

/* -----------------------------Payment 768px start------------------------------------------------- */
  .payment-wrapper, .package-info-wrapper {
    max-width: 550px;
    margin: 0 auto;
    font-size: 1em;
  }

  .payment-form div:nth-of-type(3) {
    width: 30%;
    display: inline-block;
    margin-right: 3%;
  }

  .payment-form div:nth-of-type(4) {
    width: 66%;
    display: inline-block;

  }

  .form-inline {
    display: flex;
    justify-content: space-between;
  }

  .form-inline div {
    width: 30%;
  }

  .payment-btn-subtmit, .btn-submit, .btn-red {
    font-size: 1em;
  } 
/* -----------------------------Payment 768px end------------------------------------------------- */

/* -----------------------------Admin profile 768px start------------------------------------------------- */
  .wrapper-add-input label { 
    font-size: 1.1em;
  }

  .select-coach, #session-date, #session-time, #session-duration, .duration-span {
    font-size: 16px;
  }
/* -----------------------------Admin profile 768px end------------------------------------------------- */

}


  @media screen and (min-width: 1024px) {

    body {
      margin-bottom: 40px;
    }

    .btn-login:hover, .icon-user:hover, .icon-menu:hover, 
    .btn-form:hover, .icon-facebook:hover, .icon-instagram:hover,
    .login-input-submit:hover, .restorePass-input-submit:hover, 
    .register-input-submit:hover, .box a:hover,
    .btn-back-calendar:hover, .menu-link:hover,
    .button-log-out:hover, .plan-buttons a:hover,
    .schedule-classes a:hover, .btn-submit:hover, .btn-red:hover {
      opacity: .7; 
    }

    .header, .header-wrapper {
      height: 70px;
    }

    .btn-login, .btn-buy, .btn-reserve, .button-log-out {
      padding: 10px 18px;
      font-size: 1.2em;
    }

    .register-input-submit, .login-input-submit, 
    .restorePass-input-submit {
      font-size: .8em;
    }

    .menu {
      top: 70px;
      width: 350px;
      right: -350px;
    }

    .menu a {
      font-size: 2.5em;
    }

    .menu-link {
      margin: 2em 0;
    }

    .login, .restorePass, .register, .hero, .payment, .under-header {
      padding-top: 70px;
    }

/* ---------------------------menu user start ------------------------------------ */

    .menu-user-container {
      top: 48px;
    }

/* ---------------------------menu user end ------------------------------------ */

/* ----------------------------------------user profile start --------------------------------------- */

    .plan-active {
      border-right: 1px solid #c1c1c1;
      height: 100%;
      border-top: 1px solid #C1c1c1;
    }

    .plan-title, .schedule-title, .profile-title {
      background: none;
      font-size: 1.3em;
    }

    .data, .plan-info, .schedule-classes {
      font-size: 1.1em;
    }

/* ----------------------------------------user profile end --------------------------------------- */
    .room-map a:hover {
      background: #FF0022;
      color: white;
      transform: scale(.85);
    }

    h2 {
      font-size: 2em;
    }

    .calendar-header {
      font-size: 1.7em;
    }

    .header-wrapper, .container {
      max-width: 1024px;
      margin: 0 auto;
    }

    .session-link {
      font-size: 2.5em;
    }

    .session-link:hover {
      background: rgb(255, 0, 34);
      color: white;
    }

    .package:hover {
      outline: auto;
    }

    .footer {
      font-size: 1em;
    }
  }
